body {
  background-color: #1e212d;
  color: #c07300;
  height: 100vh;
  font-family: "Roboto mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
};

#root {
    height: 100vh;
}

.pomodoro {
  font-size: 5em;
}

.message {
  font-size: 0.6em;
  text-align: center;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  /* referencia: https://www.w3bai.com/pt/css/css3_buttons.html */
  background-color: #c07300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-shadow: 0 9px rgb(129, 129, 129);
  border-radius: 5px;
}

.button:hover {background-color: #573400}

.button:active {
  background-color: #573400;
  box-shadow: 0 5px rgb(66, 66, 66);
  transform: translateY(4px);
}

.buttonPersonalTime {
  background-color: #c07300;
  color: white;
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size:22px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}


.buttonsPersonalTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PersonalTime {
  display: flex;
  align-items: center;
  height: 50px;
}

.valuePersonalTime {
  font-size: 30px;
}

.font {
  font-size: 20px;
}